<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>442600631821-d7299v967j1iet1ppv8h9bq5qik2d60i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442600631821-d7299v967j1iet1ppv8h9bq5qik2d60i</string>
	<key>API_KEY</key>
	<string>AIzaSyC85z8yTQPhjPftwafOr7bBiLM-sbl4JDU</string>
	<key>GCM_SENDER_ID</key>
	<string>442600631821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.janezhu.www.JobOrganizer</string>
	<key>PROJECT_ID</key>
	<string>joborganizer-55219</string>
	<key>STORAGE_BUCKET</key>
	<string>joborganizer-55219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442600631821:ios:a7781fce47c5e220</string>
	<key>DATABASE_URL</key>
	<string>https://joborganizer-55219.firebaseio.com</string>
</dict>
</plist>